{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img src="{{ object.product_image | media_filter }}">
                <div class="card-header">
                    <h2 class="my-0 font-weight-normal">{{ object.product_name }}</h2>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>{{ object.description }}</li>
                    </ul>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <strong>Категория: {{ object.category }}</strong>
                    </ul>
                    <h4 class="card-title pricing-card-title">Цена: {{ object.unit_price }} ₽</h4>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
                </div>
            </div>
        </div>
        <div class="col-6">
                    <div class="card">
                         <div class="card-header">
                        <h5>
                            Версия
                        </h5>
                    </div>
                        <div class="card-body">
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                                {{ form.as_p }}
                            {% endfor %}
                        </div>
                    </div>

                </div>
    </div>
{% endblock %}