{% extends 'catalog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5>
                            Продукт
                        </h5>
                    </div>
                    <div class="card-body">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <button type="submit" class="btn btn-success">
                                {% if object %}
                                    Сохранить
                                {% else %}
                                    Создать
                                {% endif %}


                            </button>
                    </div>
                </div>
            </div>
            {% if user.is_superuser or user == product.creator%}
             <div class="col-6">
                    <div class="card">
                         <div class="card-header">
                        <h5>
                            Версия
                        </h5>
                    </div>
                        <div class="card-body">
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                                {{ form|crispy }}
                            {% endfor %}
                        </div>
                    </div>

                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}